# Analizar el Dataset de ventas en Supermercados.

Responder las siguientes preguntas:

* Cual es la marca mas vendida segun sus cantidades?
* que tipo de cliente tiene un precio unitario promedio mas alto
* que marca tiene el precio unitario promedio mas alto
* que genero lleva gasta mas importe segun sus montos por Compra?

# SPARK SQL

In [0]:
#Importamos los archivos y los cargamos en Dataframe

df1 = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/cristian1701@gmail.com/supermarket_sales___Sheet1.csv")

In [0]:

# Creamos una Vista para poder consultar los datos mediante SPARKSQL

df1.createOrReplaceTempView("vista")

spark.sql("SELECT * FROM vista").show(truncate=False)

+-----------+------+---------+-------------+------+----------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|Invoice ID |Branch|City     |Customer type|Gender|Product line          |Unit price|Quantity|Tax 5% |Total   |Date     |Time |Payment    |cogs  |gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+----------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|750-67-8428|A     |Yangon   |Member       |Female|Health and beauty     |74.69     |7       |26.1415|548.9715|1/5/2019 |13:08|Ewallet    |522.83|4.761904762            |26.1415     |9.1   |
|226-31-3081|C     |Naypyitaw|Normal       |Female|Electronic accessories|15.28     |5       |3.82   |80.22   |3/8/2019 |10:29|Cash       |76.4  |4.761904762            |3.82        |9.6   |
|631-41-3108|A     |Yangon   |Normal       |Male  |Home and lifestyle    |46.33     |7       |16.2155|340.5255|3/3/2019 |13:23|Credit card|324.31|4.761904762            |16.2155     |7.4   |
|123-19-1176|A     |Yangon   |Member       |Male  |Health and beauty     |58.22     |8       |23.288 |489.048 |1/27/2019|20:33|Ewallet    |465.76|4.761904762            |23.288      |8.4   |
|373-73-7910|A     |Yangon   |Normal       |Male  |Sports and travel     |86.31     |7       |30.2085|634.3785|2/8/2019 |10:37|Ewallet    |604.17|4.761904762            |30.2085     |5.3   |
|699-14-3026|C     |Naypyitaw|Normal       |Male  |Electronic accessories|85.39     |7       |29.8865|627.6165|3/25/2019|18:30|Ewallet    |597.73|4.761904762            |29.8865     |4.1   |
|355-53-5943|A     |Yangon   |Member       |Female|Electronic accessories|68.84     |6       |20.652 |433.692 |2/25/2019|14:36|Ewallet    |413.04|4.761904762            |20.652      |5.8   |
|315-22-5665|C     |Naypyitaw|Normal       |Female|Home and lifestyle    |73.56     |10      |36.78  |772.38  |2/24/2019|11:38|Ewallet    |735.6 |4.761904762            |36.78       |8     |
|665-32-9167|A     |Yangon   |Member       |Female|Health and beauty     |36.26     |2       |3.626  |76.146  |1/10/2019|17:15|Credit card|72.52 |4.761904762            |3.626       |7.2   |
|692-92-5582|B     |Mandalay |Member       |Female|Food and beverages    |54.84     |3       |8.226  |172.746 |2/20/2019|13:27|Credit card|164.52|4.761904762            |8.226       |5.9   |
|351-62-0822|B     |Mandalay |Member       |Female|Fashion accessories   |14.48     |4       |2.896  |60.816  |2/6/2019 |18:07|Ewallet    |57.92 |4.761904762            |2.896       |4.5   |
|529-56-3974|B     |Mandalay |Member       |Male  |Electronic accessories|25.51     |4       |5.102  |107.142 |3/9/2019 |17:03|Cash       |102.04|4.761904762            |5.102       |6.8   |
|365-64-0515|A     |Yangon   |Normal       |Female|Electronic accessories|46.95     |5       |11.7375|246.4875|2/12/2019|10:25|Ewallet    |234.75|4.761904762            |11.7375     |7.1   |
|252-56-2699|A     |Yangon   |Normal       |Male  |Food and beverages    |43.19     |10      |21.595 |453.495 |2/7/2019 |16:48|Ewallet    |431.9 |4.761904762            |21.595      |8.2   |
|829-34-3910|A     |Yangon   |Normal       |Female|Health and beauty     |71.38     |10      |35.69  |749.49  |3/29/2019|19:21|Cash       |713.8 |4.761904762            |35.69       |5.7   |
|299-46-1805|B     |Mandalay |Member       |Female|Sports and travel     |93.72     |6       |28.116 |590.436 |1/15/2019|16:19|Cash       |562.32|4.761904762            |28.116      |4.5   |
|656-95-9349|A     |Yangon   |Member       |Female|Health and beauty     |68.93     |7       |24.1255|506.6355|3/11/2019|11:03|Credit card|482.51|4.761904762            |24.1255     |4.6   |
|765-26-6951|A     |Yangon   |Normal       |Male  |Sports and travel     |72.61     |6       |21.783 |457.443 |1/1/2019 |10:39|Credit card|435.66|4.761904762            |21.783      |6.9   |
|329-62-1586|A     |Yangon   |Normal       |Male  |Food and beverages    |54.67     |3       |8.2005 |172.2105|1/21/2019|18:00|Credit card|164.01|4.761904762            |8.2005      |8.6   |
|319-50-3348|B     |Mandalay |Normal       |Female|Home and lifestyle    |40.3      |2       |4.03   |84.63   |3/11/2019|15:30|Ewallet    |80.6  |4.761904762            |4.03        |4.4   |
+-----------+------+---------+-------------+------+----------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 20 rows

In [0]:
# Marca mas Vendida 

spark.sql(""" SELECT 
                 Branch
                 ,SUM(Quantity) AS Cantidad 
              FROM 
                  vista 
               GROUP BY
                   Branch 
               ORDER BY
                   Cantidad 
           """).show(truncate=False)

+------+--------+
|Branch|Cantidad|
+------+--------+
|B     |1820.0  |
|C     |1831.0  |
|A     |1859.0  |
+------+--------+

In [0]:
# Que tipo de cliente tiene un precio unitario promedio mas alto
spark.sql(""" SELECT
                   `Customer type`
                  ,AVG(`Unit price`) Precio_Promedio
               FROM
                   vista 
               GROUP BY
                   `Customer type`
            ORDER BY 
                Precio_Promedio DESC
           """).show(truncate=False)

+-------------+-----------------+
|Customer type|Precio_Promedio  |
+-------------+-----------------+
|Member       |56.20698602794411|
|Normal       |55.13513026052104|
+-------------+-----------------+

In [0]:
# Que marca tiene el precio unitario promedio mas alto
spark.sql(""" SELECT 
                 Branch
                  ,AVG(`Unit price`) Precio_Promedio
               FROM
                   Vista 
               GROUP BY
                   Branch
            ORDER BY 
                Precio_Promedio DESC
                
          """         ).show(truncate=False)

+------+------------------+
|Branch|Precio_Promedio   |
+------+------------------+
|C     |56.609024390243896|
|B     |55.65927710843374 |
|A     |54.78085294117646 |
+------+------------------+

In [0]:
# que genero lleva gastado mas importe segun sus montos por Compra?

spark.sql(""" SELECT 
                  Gender
                  ,SUM(Total) Importe_Total
               FROM
                   Vista 
               GROUP BY
                   Gender
            ORDER BY 
                Importe_Total DESC
                
          """         ).show(truncate=False)

+------+------------------+
|Gender|Importe_Total     |
+------+------------------+
|Female|167882.92500000002|
|Male  |155083.82400000014|
+------+------------------+

# PANDAS

In [0]:
df_PD = df1.toPandas()

In [0]:
df_PD.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761904762,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,3/8/2019,10:29,Cash,76.4,4.761904762,3.82,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761904762,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.288,489.048,1/27/2019,20:33,Ewallet,465.76,4.761904762,23.288,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761904762,30.2085,5.3

In [0]:
# Marca mas Vendida 

# Convertimos a Numerica

df_PD['Quantity'] = pd.to_numeric(df_PD['Quantity'])

# Sumamos y agrupamos

cuenta = df_PD.groupby('Branch')['Quantity'].sum()

# imprimir la cuenta
print(cuenta)

Branch
A    1859
B    1820
C    1831
Name: Quantity, dtype: int64

In [0]:
# que tipo de cliente tiene un precio unitario promedio mas alto

# Convertimos a Numerica

df_PD['Unit price'] = pd.to_numeric(df_PD['Unit price'])

# Sumamos y agrupamos

Tipo_Cliente = df_PD.groupby('Customer type')['Unit price'].sum()

# imprimir la cuenta
print(Tipo_Cliente)

Customer type
Member    28159.70
Normal    27512.43
Name: Unit price, dtype: float64

In [0]:
# Que marca tiene el precio unitario promedio mas alto

# Promedio y agrupamos

Marca = df_PD.groupby('Customer type')['Unit price'].mean()

# imprimir la cuenta
print(Marca)

Customer type
Member    56.206986
Normal    55.135130
Name: Unit price, dtype: float64

In [0]:
# Que genero lleva gasta mas importe segun sus montos por Compra?
# Convertimos a Numerica
df_PD['Total'] = pd.to_numeric(df_PD['Total'])



Genero = df_PD.groupby('Gender')['Total'].sum()

# imprimir la cuenta
print(Genero)

Gender
Female    167882.925
Male      155083.824
Name: Total, dtype: float64